modules = ["nodejs-20", "postgresql-16"]

[nix]
channel = "stable-24_05"

[[ports]]
localPort = 3000
externalPort = 80

[agent]
integrations = ["javascript_websocket==1.0.0", "javascript_database==1.0.0", "firebase_barebones_javascript==1.0.0"]

[deployment]
deploymentTarget = "cloudrun"
